<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{% block name %}CMS App{% endblock name %}</title>
       
        <script src="https://kit.fontawesome.com/49078f8b51.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" style="margin-left: 20%;" href="{% url 'home' %}">Client Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-right: 20%;">
          {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="userMenu"\
                data-toggle="dropdown" aria-haspopup="true" aria-expanded\
                ="false">
                <i class="fas fa-user-circle"></i> {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="userMenu" style="margin-right: 20%;">
                  <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">
                  Log Out</a>
                </div>
              </li>
            </ul>
          {% else %}
            <form class="form-inline ml-auto" >
              <a href="{% url 'login' %}" style="color:white; border-color:white;" class="btn btn-outline-secondary">
              Log In</a>
              <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
              Sign up</a>
            </form>
          {% endif %}
        </div>
      </nav>
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
  
      
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>