{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
  {% if user.is_authenticated %}
  <h3>Welcome, {{ user.username }}</h3>
  {% else %}
  <h3 style="text-align: center; color: red;">You are not logged in!</h3>
  {% endif %}
  <h1 class="display-4">Acme Auto Client Management System</h1>
  <p class="lead">Car Sales and Service Client Management System.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'client_list' %}" role="button">View All Clients <i class="fas fa-th-list"></i></a>
    <a class="btn btn-success btn-lg" role="button" href="{% url 'client_new' %}">Add New Client <i class="fas fa-address-card"></i></a>
   </p>
</div>
{% endblock content %}
